streamlit
pandas
numpy
scikit-learn
PyPDF2
python-docx
langchain
langchain-community
langchain-openai
openai
sentence-transformers
faiss-cpu
tqdm
huggingface-hub
requests
python-dotenv
